# Ignore compiled Python
*.pyc
__pycache__/

# Ignore Angular's development files
/portal-ui/node_modules/
/portal-ui/src/environments/
.angular/

.vscode/
.DS_Store
.idea/


*/.vscode/
*/.DS_Store
*/.idea/

*/node_modules