[Unit]
Description=Nodogsplash Captive Portal
After=NetworkManager.service
BindsTo=sys-subsystem-net-devices-wlan0.device
After=sys-subsystem-net-devices-wlan0.device

[Service]
ExecStart=/usr/local/bin/nodogsplash -f -c /etc/nodogsplash/nodogsplash.conf
Restart=on-failure

[Install]
WantedBy=multi-user.target
